.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  margin-right: 1%;
  margin-top: 3%;
  margin-left: 1%;
  margin-bottom: 40%;
}

.map-frame {
  border: 2px solid #218838;
  height: 100%;
  margin-bottom: 1%;

}

#map {
  height: 100%; 
}
