<footer class="border border-black   text-center text-lg-start ">
    
    <!-- Copyright -->
    <div class="  text-center " style="background-color: white">
        <div class="row ml-1   justify-content-center">
            
            <div class="col col-lg-1 list-group-item-action "
             [routerLink]="['']"  routerLinkActive="bgGry bg-gradient text-uppercase" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-home fa-fw"    style="color:  #282829"></i>&nbsp; <p style="margin-top: -6px; font-size: 11px;">Accueil</p>  </div>
            <div class="col col-lg-1 list-group-item-action " 
            [routerLink]="['/app-search']" routerLinkActive="bgGry  bg-gradient text-uppercase" [routerLinkActiveOptions]="{exact:true}" ><i class="fa fa-search fa-fw"     style="color: #282829"></i>&nbsp;<p style="margin-top: -6px; font-size: 11px;">Recherche</p>  </div>
            <div class="col col-lg-1 list-group-item-action " 
            [routerLink]="['/favori']" routerLinkActive="bgGry  bg-gradient text-uppercase" [routerLinkActiveOptions]="{exact:true}" ><i class="fa fa-heart-o fa-fw"   style="color: #282829"></i> &nbsp;<p style="margin-top: -6px; font-size: 11px;">Favori</p>  </div>
            <div class="col col-lg-1 list-group-item-action"
             [routerLink]="['/dashboard-admin']" routerLinkActive="bgGry  bg-gradient text-uppercase" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-shopping-cart fa-fw"     style="color: #282829"></i>&nbsp; <p style="margin-top: -6px; font-size: 11px;">Commandes</p>  </div>
            <div class="col col-lg-1 list-group-item-action"
             [routerLink]="['/app-profil']" routerLinkActive="bgGry  bg-gradient text-uppercase" [routerLinkActiveOptions]="{exact:true}" ><i class="fa fa-user-o fa-fw"     style="color: #282829"></i>&nbsp; <p style="margin-top: -6px; font-size: 11px;">Profil</p>  </div>
           
            
           
         
        </div>

    </div>
    <!-- Copyright -->
</footer>