<div class="container ">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            <div class="input-group mt-3 ">
     
                <input minlength="2" type="search" class="form-control" placeholder="Recherche EatsTn" name="deliveryfeee"
                    id="deliveryfeee">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i>
                        &ensp;<span>
                           
                        </span>
                    </span>
                </div>
        
                
            </div>
        </div>    
    </div>
  
    <app-listmenusearch></app-listmenusearch>
</div>
