#real {
    display: none;
    }
.profile-img-card {
    width: 250px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%;
    }